# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/dist
/tmp
/out-tsc

# dependencies
node_modules

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
testem.log
/typings

*.js
*.map

# e2e
/e2e/*.js
/e2e/*.map

# System Files
.DS_Store
Thumbs.db
hierarchical-dependency-injection/src/app/app.component.js
hierarchical-dependency-injection/src/app/app.component.js.map
hierarchical-dependency-injection/src/app/app.module.js
hierarchical-dependency-injection/src/app/app.module.js.map
hierarchical-dependency-injection/src/app/car.components.js
hierarchical-dependency-injection/src/app/car.components.js.map
hierarchical-dependency-injection/src/app/car.services.js
hierarchical-dependency-injection/src/app/car.services.js.map
hierarchical-dependency-injection/src/app/hero-tax-return.component.js
hierarchical-dependency-injection/src/app/hero-tax-return.component.js.map
hierarchical-dependency-injection/src/app/hero-tax-return.service.js
hierarchical-dependency-injection/src/app/hero-tax-return.service.js.map
hierarchical-dependency-injection/src/app/hero.js
hierarchical-dependency-injection/src/app/hero.js.map
hierarchical-dependency-injection/src/app/heroes-list.component.js
hierarchical-dependency-injection/src/app/heroes-list.component.js.map
hierarchical-dependency-injection/src/app/heroes.service.js
hierarchical-dependency-injection/src/app/heroes.service.js.map
hierarchical-dependency-injection/src/app/villains-list.component.js
hierarchical-dependency-injection/src/app/villains-list.component.js.map
hierarchical-dependency-injection/src/app/villains.service.js
hierarchical-dependency-injection/src/app/villains.service.js.map
hierarchical-dependency-injection/src/main.js
hierarchical-dependency-injection/src/main.js.map
