<h2>Hero Detail</h2>
<!--
<h3><i>Just a FormControl</i></h3>

<label class="center-block">Name:
	<input class="form-control" [formControl]="name">
</label>
-->

<!--
To let Angular know that this is the input that you want to associate to the name FormControl in the class,
you need [formControl]="name" in the template on the <input>.
-->
<h3><i>FormControl in a FormGroup</i></h3>
<form [formGroup]="heroForm" novalidate>
	<div class="form-group">
		<label class="center-block">
			Name: <input class="form-control" formControlName="name">
		</label>
	</div>
	<p>Form name value: {{ heroForm.value | json }}</p>
	<p>Form name status: {{ heroForm.status | json }}</p>
</form>

